<!--
/**
* @ngdoc overview
* @name citations.html
*
* @description
* AngularJS partials view - Citations screen.
* Utilizes RWD CSS3 features and functionality.
*
*/
-->

<section class="citations" ng-controller="citationsController">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="section-heading">Citations</h1>
            <h3 class="section-subheading">Provide a list of the current citations.</h3>
        </div>
    </div>

    <br/>

    <div class="text-center">

        <label class="primary">Citation ID Search:</label>
        <input type="text" ng-model="searchName"  size="30"
            placeholder="enter custom search criteria here">

        <br/>

        <label class="filterResults">Result of custom search : 
            {{(citations | filter: searchName ).length}} 
            out of {{(citations).length}} citations.
        </label>        
    </div>

    <div class="container">
        
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">

                <div class="citations" ng-repeat="citation in citations | filter: searchName ">
                        <div>
                            Image {{photo.id}}
                             <!-- ng-bind-html="Image {{photo.id}} | highlight:searchName:caseSensitive}}">--><br/>
                            Name: {{photo.name}}
                             <!-- ng-bind-html="{{photo.name}} | highlight:searchName:caseSensitive}}">--><br/>
                            Date: {{shortDate(photo.dateTaken)}}
                             <!-- ng-bind-html="Date: {{photo.dateTaken}} | highlight:searchName:caseSensitive}}">--><br/>
                            Size: {{photo.size}}
                             <!-- ng-bind-html="Size: {{photo.size}} | highlight:searchName:caseSensitive}}">--><br/>
                            <span ng-show={{photo.hilight}}>Highlight - Show in Carousel</span>
                            <span ng-hide={{photo.hilight}}>Show in Gallery Only</span>
                            <br/>Tags:&nbsp;{{tagList(photo.tags)}} 
                            <br/>
                            <!--
                            <button type="button" 
                                class="dialog-button dialog-button-primary" 
                                data-ng-click="enlargeToggle()">&#160;Enlarge&#160;
                            </button>
                            -->
                        </div>
                        <!-- Define the front-side of the photo - cropped to size -->
                        <div class="front">
                            <img class="front img-thumbnail" 
                                ng-src="{{photo.thumbnail}}" 
                                alt="{{photo.name}}"><br/>
                            <label class="text-center">{{photo.name}}</label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        
        <div class="row">
            <div id="addPhotosBtn" class="col-lg-offset-1 col-lg-6 col-md-6 col-sm-6 col-xs-3">

                <button type="button" 
                        class="btn btn-info"
                        ng-click="addPhotos(1)">Add Random Photos
                </button> <!-- Use addPhotos(1) to add the photos as highlights for the carousel -->

            </div> <!-- Add Photo div -->
        </div>
        
    </div>

</section>
