<!--
/**
* @ngdoc overview
* @name citations.html
*
* @description
* AngularJS partials view - Citations screen.
* Utilizes RWD CSS3 features and functionality.
*
*/
-->

<section class="citations-section" >
<br/>
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="section-heading">Security Verification</h1><br/>
            <h3 class="section-subheading">Answer the following 3 questions.</h3><br/>
        </div>
    </div>

    <form method="post">
        <div class="alert alert-info">
                <div class="form-inline">
                    <label class="control-label">
                        <h3>What street have you lived on?</h3></label><br/>
                    <label class="radio">
                        <input value="1" type="radio">Saint Louis County
                    </label><br/>
                    <label class="radio">
                        <input value="2" type="radio">Saint Charles County
                    </label><br/>
                    <label class="radio">
                        <input value="3" type="radio">Jefferson County
                    </label>
                </div>
            </div>
    ​
            <div class="alert alert-info">
                <div class="form-inline">
                    <label class="control-label">
                        <h3>What county have you lived in?</h3></label><br/>
                    <label class="radio">
                        <input value="1" type="radio">Geiger Court
                    </label><br/>
                    <label class="radio">
                        <input value="2" type="radio">Dalton Avenue
                    </label><br/>
                    <label class="radio">
                        <input value="3" type="radio">Bluebird Terrace
                    </label>
                </div>
            </div>
    ​
            <div class="alert alert-info">
                <div class="form">
                    <label class="control-label">
                        <h3>What is your height?</h3></label><br/>
                    <label class="radio">
                        <input value="1" type="radio">5'9"
                    </label>
                    <label class="radio">
                        <input value="2" type="radio">5'11"
                    </label>
                    <label class="radio">
                        <input value="3" type="radio">6'2"
                    </label>
                </div>
            </div>
        </div>
        <input class="btn btn-primary" onClick="parent.location='/src/#/citations3'" type="submit" value="Submit"/>
    </form>
</section>
