<!--
/**
* @ngdoc overview
* @name _footer.html
*
* @description
* AngularJS partials view - footer that appears at the bottom of every screen.
* Identifies website, social media hyperlinks, and copyright notice.
*
*/
-->

<footer class="footer navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <div class="footer-body">
                    <div class="footer-text">
                        <p><strong>Bureaucracy Busters</strong><br/></p>
                    </div>
                    <div class="cleared"></div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6" col-sm-12 col-xs-12>[ Social Buttons
                
                <ul class="social-buttons">
                    <li>t<a target="_blank" ui-sref="https://twitter.com/wmmaintz"><i class="fa fa-twitter fa-fw"></i></a></li>
                    <li>f<a target="_blank" ui-sref="https://www.facebook.com/bill.maintz"><i class="fa fa-facebook fa-fw"></i></a></li>
                    <li>l<a target="_blank" ui-sref="https://www.linkedin.com/in/billmaintz"><i class="fa fa-linkedin fa-fw"></i></a></li>
                    <li>g<a target="_blank" ui-sref="https://plus.google.com/115390032023459794113"><i class="fa fa-google-plus fa-fw"></i></a></li>
                </ul>
                ]
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                
                <div class="copyright">
                    Copyright © 2012-15 All Business Computer Services LLC. All Rights Reserved.</p>
                </div>
            
            </div>
        </div>

    </div>
</footer>
 
<!-- TODO: add terms of use page -->

<!--
<footer class="footer navbar-fixed-bottom">
    <div class="container-fluid">
        
        <div class="row">
            
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <span class="copyright">Copyright &copy; Maintz.com 2015</span>
            </div>
            
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <ul class="list-inline quicklinks">
                    <li><a ui-sref="privacyPolicy" class="privacyPolicy">Privacy Policy</a></li>
                    <li><a ui-sref="termsOfUse" class="termsOfUse">Terms of Use</a></li>
                </ul>
            </div>
        </div>
            
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="social-buttons">
                    <li><a target="_blank" ui-sref="https://twitter.com/wmmaintz"><i class="fa fa-twitter quicklinks">t</i></a></li>
                    <li><a target="_blank" ui-sref="https://www.facebook.com/bill.maintz"><i class="fa fa-facebook quicklinks">f</i></a></li>
                    <li><a target="_blank" ui-sref="https://www.linkedin.com/in/billmaintz"><i class="fa fa-linkedin quicklinks">l</i></a></li>
                    <li><a target="_blank" ui-sref="https://plus.google.com/115390032023459794113"><i class="fa fa-google-plus quicklinks">g</i></a></li>
                </ul>
            </div>
        </div>
        
    </div>
</footer>
-->
