<!--
/**
* @ngdoc overview
* @name _header.html
*
* @description
* AngularJS partials view - header that appears at the top of every screen.
* Contains the navigation bar.
*
*/
-->

<header id="home" class="header">
    
    <!-- TOP BAR -->
    <div id="main-nav" class="navbar navbar-inverse bs-docs-nav" role="banner">
        <div class="container">
            <div class="navbar-header responsive-logo">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand menu-item" 
                   ui-sref="home"
                   ui-sref-active="active">
                    <span class="glyphicon glyphicon-home">
                        <img src="images/stlrmc-logo_720.png" alt="St. Louis County">
                    </span>
                </a>                
            </div>
            
            <nav class="navbar-collapse collapse" role="navigation" id="bs-navbar-collapse">
            <ul class="nav navbar-nav navbar-right responsive-nav main-nav-list">
                <li><a class="navbar-brand menu-item" ui-sref="citations">Citation Information</a></li>
                <li><a class="navbar-brand menu-item" ui-sref="locations">Court Locations</a></li>
                <li><a class="navbar-brand menu-item" ui-sref="payments">Payment Options</a></li>
                <li><a class="navbar-brand menu-item" ui-sref="services">Services</span></a></li>
                <li><a class="navbar-brand menu-item" ui-sref="rights">What are my Rights</a></li>
                <li><a class="navbar-brand menu-item" ui-sref="faq">FAQ</a></li>
                <li><a class="navbar-brand menu-item" ui-sref="login">Clerk Login</a></li>
            </ul>
            </nav>
        </div>
    </div>
    <!-- / END TOP BAR -->
 
<!--***********************************************************TEST SECTION*************************************************************************-->


</header> <!-- / END HOME SECTION  -->