<section class="NAME-section">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="section-heading">HEADING NAME</h1>
            <h4 class="section-subheading">SUBHEADING - Description of what this page does.</h4>
            <h5 class="section-subheading text-muted">OPTIONAL - Additional detail about this page.</h5>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-lg-offset-1 col-lg-10">

            <div class="well">
            
            MAIN CONTENT GOES HERE
            
            </div>
        </div>
    </div>

    <br/><br/><br/><br/><br/>

</section>
