<!-- =========================
   FEATURES SECTION   
============================== -->
<section class="features" id="features">
<div class="container">
        
        <!-- SECTION HEADER -->
    <div class="section-header">
        
        <!-- SECTION TITLE -->
        <h2 class="dark-text">FAQ</h2>

        <!--Replace this with some sort of data load.  look a citationsController and citations.js-->
        <div ng-init="questions = [{question:'Why am I being asked for more security questions when logging into my account?', answer:'These additional security questions will keep your account as secure as possible. We use these security questions as an extra layer of protection, helping to prevent unauthorized people from accessing your account.'},
                         {question:'Security and Weapons Screening:', answer:'Every person entering the courtroom will go through security and weapons screening.  All purses, briefcases, shopping bags and any carry-in items will be scanned utilizing an x-ray machine.  Individuals will be screened utilizing a walk-through and/or hand-held metal detector.  '},
                         {question:'What is not permitted in the court room?', answer:'Firearms (not allowed in the Police/Court facility)
Knives, contraband, and all weapons of opportunity
CD players, iPods, radios, audio or video recorders, cameras
Food or drink
Other items that could pose a risk or threat to safety of others, or be disruptive
'},
                         {question:'Should I turn off my cell phone before entering court room?', answer:'Yes'},
                         {question:'What if I can not pay my installment agreement?', answer:'There may be a reinstatement fee if your agreement goes into default. Penalties and interest continue to accrue until your balance is paid in full. If you are in danger of defaulting on your payment agreement for any reason, contact us immediately. We will generally not take enforced collection actions.
You have several options available if your ability to pay has changed and you are unable to make payments on your installment agreement or your offer in compromise agreement. Call the hotline 800 number. Options could include reducing the monthly payment to reflect your current financial condition. You may be asked to provide proof of changes in your financial situation so have that information available when you call.
'},
                         {question:'What if I need legal representation to help but can’t afford it?', answer:'Appointment of Public Defender
Every person appearing in Court has the right to retain an attorney.  If an individual is facing a possible jail sentence and cannot afford an attorney, the Judge may appoint counsel to represent.
The application for appointment of counsel must be completed in its entirety and signed in the presence of a court clerk.  In addition, the documents listed on page 2 of the application must accompany the application.   The application may be downloaded for completion prior to submitting to the Court, but the signature must be witnessed by one of the clerks.
'}]"></div>

<label>Search: <input ng-model="searchText"></label>
<!--<table id="searchTextResults">
  <tr><th>Name</th><th>Phone</th></tr>
  <tr ng-repeat="faq in questions | filter:searchText">
    <td>{{faq.question}}</td>
    <td>{{faq.answer}}</td>
  </tr>
</table>-->
        
        <!-- SHORT DESCRIPTION ABOUT THE SECTION -->
        <h6>
            We design &amp; develop quality products to help small &amp; medium level business.
        </h6>
    </div>
    <!-- / END SECTION HEADER -->
    
    <!-- FEATURES -->
    <div class="row">
        
        <!-- FEATURES COLUMN -->
        <div class="col-md-12 wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
            
            <!-- FEATURE -->
            <div class="feature" ng-repeat="faq in questions | filter:searchText">
                <!-- Populate Features with the question and answer json -->
                <h5>{{faq.question}}</h5>
                <p>
                     {{faq.answer}}
                </p>
            </div>
        </div> <!-- / END FEATURES COLUMN -->
    </div> <!-- / END FEATURES -->
</div> <!-- / END CONTAINER -->
</section> <!-- / END FEATURES SECTION -->

