<div class="col-lg-3 col-sm-3">
      <div class="best-value">
        <div class="package wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
          <div class="package-header red-bg">
            <h4>Community Service</h4>
            <div class="meta-text">
              Select interests below
            </div>
          </div>
          <div class="price dark-bg">
            <h4><span class="dollar-sign">$</span>7.65</h4>
            <span class="price-meta">/ hr</span>
          </div>
          <ul>
            <div class="checkbox">
    <label>
      <input type="checkbox"> Parks
    </label>
    <label>
      <input type="checkbox"> Schools
    </label>
    <label>
      <input type="checkbox"> Human Services
    </label>
    <label>
      <input type="checkbox"> Animal Shelter
    </label>
  </div>
          </ul>
          <a href="#" class="btn btn-primary custom-button red-btn">
        Sign Up </a>
        </div>
      </div>
    </div>