<!--
<section class="payment-section">
<br/>
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="section-heading">Payment Options</h1><br/>
            <h4 class="section-subheading">Your Time or Your Money</h4><br/>
            <h5 class="section-subheading text-muted">Here are some payment options available to you</h5><br/>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-lg-offset-1 col-lg-5 wow fadeInLeft animated">

            <div class="well">
                <h5>Payment Plan</h5>
                <p>Any individual is eligible for a payment plan.  Payment plans should be set up within 10 days after the date of the court disposition. You will not receive an additional fine for setting up a payment plan.</p>
            </div>
        </div>
        <div class="col-lg-5 wow fadeInRight animated">
            <div class="well">
                <h5>Community Service</h5>
                <p>An alternative sentencing option, for those interested or unable to pay, that allows citizens the opportunity to contribute approved community service hours to an government volunteer program in exchange for some or all of a fine.</p>
            </div>
        </div>
    </div>

    <br/><br/><br/><br/><br/>

</section>
-->
<section class="packages-section" id="pricingtable">
<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header">
		
		<!-- SECTION TITLE -->
		<h2 class="white-text">Payment Options</h2>
		
		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<h6 class="white-text">
			We have 3 different options for you to pay off your fees. Check all the options and choose the right one for you. 
		</h6>
	</div>
	<!-- / END SECTION HEADER -->
	
	<!-- PACKAGES -->
	<div class="row">
		
		<!-- PAY NOW -->
		<div class="col-lg-4 col-sm-4">
			<div class="package wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
				<div class="package-header green-bg">
					<h5>Pay Now</h5>
				</div>
				<div class="price dark-bg">
					<div class="price-container">
<h4><span class="dollar-sign">$</span>800 </h4>
					
					</div>
				</div>
				<ul>
					<li>Payment: 800</li>
					<li>Card Number: <input type="text"></li>
					<li>Expiration Date: <input type ="text"></li>
					<li>CVV: <input type="text"></li>					
				</ul>
				<a href="#" class="btn btn-primary custom-button green-btn">
				Submit </a>
			</div>
		</div> <!-- PAY NOW -->
		
		<!-- PAYMENT PLAN -->
		<div class="col-lg-4 col-sm-4">
			<div class="package wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
				<div class="package-header blue-bg">
					<h5>Payment Plan</h5>
				</div>
				<div class="price dark-bg">
					<div class="price-container">
					<h4><span class="dollar-sign">$</span>21 </h4>
					<span class="price-meta">/ Mo</span>
					</div>
				</div>
				<ul>
					<li><input type="radio" name="PayPlanOption" value = "6"> 6 Months</li>
					<li><input type="radio" name="PayPlanOption" value = "12"> 12 Months</li>
					<li><input type="radio" name="PayPlanOption" value = "18"> 18 Months</li>
					<li> Phone Number <input type="text" name="PhoneNumber"></li>
				<a href="#" class="btn btn-primary custom-button blue-btn">
				Request </a>
			</div>
		</div>
		<!-- End Payment Plan Options -->
		<!-- Community Service options -->
		<div class="col-lg-4 col-sm-4">
        <div class="package wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
          <div class="package-header red-bg">
            <h5>Community Service</h5>

          </div>
          <div class="price dark-bg">
            <h4><span class="dollar-sign">$</span>7.65</h4>
            <span class="price-meta">/ hr</span>
          </div>
          <ul>
					<li><input type="radio" name="CommService" value = "P"> Parks</li>
					<li><input type="radio" name="CommService" value = "S"> Schools</li>
					<li><input type="radio" name="CommService" value = "H"> Human Services</li>
				<li> Phone Number <input type="text" name="PhoneNumber">
				</li>
            <div class="checkbox">
  </div>
          </ul>
          <a href="#" class="btn btn-primary custom-button red-btn">
        Sign Up </a>
        </div>
    </div>
<!-- End Community Service Options -->
</div> <!--END CONTAINER  -->
</section> <!-- END PACKAGES SECTION -->
