<section class="home-section">
<br/>
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="intro-text">St. Louis County Courts</h1><br/>
            <h4 class="intro-lead-in">An easy avenue to navigate your open and public court system.</h4><br/>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-lg-offset-1 col-lg-6 wow fadeInLeft animated">

            <div class="well">
                <h4>Description:</h4>
                <p>Welcome to ____!  Let us make understanding the open and public court system easy for you.  Our citizen focused pages inform, improve access, and streamline your ability to resolve any court related issue, including accessing citation and court date information, fine payment and options, including community service, and warrant status.</p>
            </div>
        </div>
        <div class="col-lg-4 wow fadeInLeft animated">
            <h4>Navigational Buttons and descriptions:</h4>
            <ul>
                <li>Citation Information</li>
                <div class="well">
                    Citations filed, balance of fees owed, warrant information, date/time of hearing
                </div>

                <li>Court Locations</li>
                <div class="well">
                    Court information, date/time of hearing
                </div>

                <li>Payment Options</li>
                <div class="well">
                    Pay now, payment plan, community service
                </div>

                <li>Services</li>
                <div class="well">
                    Help and resources for transportation, child care, legal aid, failure to appear
                </div>
                
            </ul>
        </div>
                    
    </div>

    <br/><br/><br/><br/><br/>

</section>
