<section class="about-us" id="aboutus">
<div class="container">
    
    <!-- SECTION HEADER -->
    <div class="section-header">
        
        <!-- SECTION TITLE -->
        <h1 class="white-text">St. Louis County Courts</h1>
        
        <!-- SHORT DESCRIPTION ABOUT THE SECTION -->
        <h5 class="white-text">
                An easy avenue to navigate your open and public court system.
        </h5>
    </div>
    <!-- / END SECTION HEADER -->
    
    <!-- 3 COLUMNS OF ABOUT US-->
    <div class="row">
        
        <!-- COLUMN 1 - BIG MESSAGE ABOUT THE COMPANY-->
        <div class="col-lg-4 col-md-4 column">
            <div class="big-intro wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                 Welcome to Virtual Court. Your Portal to Simple.
            </div>
        </div>
        
        <!-- COLUMN 2 - BRIEF ABOUT THE COMPANY-->
        <div class="col-lg-4 col-md-4 column">
            <p class="wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                Let us make understanding the open and public court system easy for you.
                Our citizen focused pages inform, improve access, and streamline your ability to resolve any court related issue, including accessing citation and court date information, fine payment and options, including community service, and warrant status.
            </p>
        </div>
        
        <!-- COLUMN 1 - SKILSS-->
        <div class="col-lg-4 col-md-4 column">
            <ul class="skills wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                
                <!-- SKILL ONE -->
                <li class="skill">
                    <div class="skill-count">
                        <img src="" />
                    </div>
                    <h6>Citation Information</h6>
                    <p>
                        Citations filed, balance of fees owed, warrant information, date/time of hearing
                    </p>
                </li>
                
                <!-- SKILL TWO -->
                <li class="skill">
                    <div class="skill-count">
                        <img src="" />
                    </div>
                    <h6>Court Locations</h6>
                    <p>
                        Court information, date/time of hearing
                    </p>
                </li>
                
                <!-- SKILL THREE -->
                <li class="skill">
                    <div class="skill-count">
                        <img src="" />
                    </div>
                    <h6>Payment Options</h6>
                    <p>
                        Pay now, payment plan, community service
                    </p>
                </li>
                
                <!-- SKILL FOUR -->
                <li class="skill">
                    <div class="skill-count">
                        <img src="" />
                    </div>
                    <h6>Services</h6>
                    <p>
                        Help and resources for transportation, child care, legal aid, failure to appear
                    </p>
                </li>
                
            </ul> 
        </div> <!-- / END SKILLS COLUMN-->
    </div> <!-- / END 3 COLUMNS OF ABOUT US-->

</div> <!-- / END CONTAINER -->

</section> <!-- END ABOUT US SECTION -->

</section>