<section class="services-section">
<br/>
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="section-heading">Need help?</h1><br/>
            <h4 class="section-subheading">We can provide additional services that may help you resolve your issues. Select any of the topics below and a representative will contact you within 48 hours.</h4><br/>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-lg-offset-1 col-lg-10">

            <div class="well">
            
                <form method="post" class="left">
                    <fieldset>
              ​
                        <div class="col-lg-3 col-sm-3 left">	
                            <input type="checkbox" name="service" value="Legal Assistance" />Legal Assistance <br /> 
                            <input type="checkbox" name="service" value="Financial Aid" />Financial Aid <br /> 
                            <input type="checkbox" name="service" value="Missouri Public Defender" />Missouri Public Defender <br /> 
                            <input type="checkbox" name="service" value="Metrobus and Metrolink Services" />Metrobus and Metrolink Services <br /> 
                            <input type="checkbox" name="service" value="Free Shuttle Services" />Free Shuttle Services <br />
                        </div>
                ​
                        <div class="col-lg-3 col-sm-3">	
                            <input type="checkbox" name="service" value="Payment Option Information" />Payment Option Information <br /> 
                            <input type="checkbox" name="service" value="Payment Plans" />Payment Plans <br /> 
                            <input type="checkbox" name="service" value="Court Payment Alternatives" />Court Payment Alternatives <br /> 
                            <input type="checkbox" name="service" value="Child Care Services" />Child Care Services <br /> 
                            <input type="checkbox" name="service" value="On-going Low Income Childcare" />On-going Low Income Childcare <br /> 
                        </div>	
                ​
                        <div class="col-lg-3 col-sm-3">	
                            <input type="checkbox" name="service" value="Court Provided Childcare" />Court Provided Childcare <br /> 
                            <input type="checkbox" name="service" value="Acceptable Proof of Reason for FTA" />Acceptable Proof of Reason for FTA <br /> 
                            <input type="checkbox" name="service" value="Letters of Incarceration" />Letters of Incarceration <br /> 
                            <input type="checkbox" name="service" value="Hospital Admittance" />Hospital Admittance <br /> 
                            <input type="checkbox" name="service" value="Dischare Paperwork" />Dischare Paperwork <br /> 
                        </div>	
                ​
                        <div class="col-lg-3 col-sm-3">	
                            <input type="checkbox" name="service" value="Court Site Public Accss Points" />Court Site Public Accss Points <br /> 
                            <input type="checkbox" name="service" value="Kiosks Locations" />Kiosks Locations <br /> 
                            <input type="checkbox" name="service" value="Court Costs/Fines" />Court Costs/Fines <br /> 
                            <input type="checkbox" name="service" value="Offense Specific Costs" />Offense Specific Costs <br /> 
                            <input type="checkbox" name="service" value="General Questions" />General Questions <br /> 
                        </div>
                ​
                    </fieldset>
                    <input class="btn btn-primary" type="submit" value="Submit" />
                </form>

            </div>
        </div>
    </div>

    <br/><br/><br/><br/><br/>

</section>
